*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    display: flex;
    width: auto;
    justify-content: center;
}
ul{
    align-items: center;
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 20px;
}
li a{
    text-decoration: none;
    color: black;
}

.header{
    width: 100%;
    display: flex;
}

.left-header{
    width: 50%;
    background-color: brown;
}

.right-header{
    width: 50%;
    background-color: blue;
}

.left-header img{
    width: 50%;
}